<!DOCTYPE html>
<html>
  <head>
    <title>RailsYelpMvp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  </head>

  <body>
    <div class="navbar navbar-dark bg-dark">
      <%= link_to '<i class="fas fa-home fa-4x"></i>'.html_safe, restaurants_path %>
      <h1>Yelp copycat</h1>
      <%= link_to '<i class="fas fa-utensils fa-4x"></i>'.html_safe, new_restaurant_path %>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
